# Binarios
*.exe
*.exe~
*.dll
*.so
*.dylib

# Archivos de build
/bin/
/dist/
/build/

# Logs
*.log

# Variables de entorno
.env

# Archivos del editor
.vscode/
.idea/

# Sistema operativo
.DS_Store
Thumbs.db

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build web
dist/
build/

# Capacitor / Ionic
.android/
.ionic/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/captures/

# Mac / Windows / IDE
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# Environment
.env
.env.*